@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "tailwindcss";
@import './sweetalertCSS.css';

@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

body {
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

/* Sidebar Menu: 12 px agar tidak terlipat menjadi 2 baris */
aside nav a, aside nav button {
  font-size: 12px !important;
  font-weight: 500 !important;
}
